body {
  background: black;
  background-repeat: no-repeat;

  background-attachment: fixed;

  background-position: top-center;

  background-size: contain;
}
input {
  background: white !important;
}
button {
  width: 40%;
  margin-top: 7%;
  margin-left: 60%;
}

.form-group {
  width: 50%;
  margin-right: 25%;
}
